<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
 <!-- 	   <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property> 
	   <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>	
	   <property name="hibernate.connection.url">jdbc:jtds:sqlserver://VINCENTPC:1433/feedAggregate;useNTLMv2=true;domain=VincentPC/feedAggregate</property>	      -->
		<mapping class="com.vincentko.inventory.object.InventoryCategoryLink" />
		<mapping class="com.vincentko.inventory.object.Inventory" />
		<mapping class="com.vincentko.inventory.object.InventoryCategory" />
		<mapping class="com.vincentko.vocabulary.object.VocabularyCategory" />
		<mapping class="com.vincentko.vocabulary.object.Vocabulary" />
  		<mapping class="com.vincentko.financialstatement.object.PayCheck" />
     	<mapping class="com.vincentko.feedaggregate.object.Article" />
     	<mapping class="com.vincentko.taskreminder.object.Task" />
        <mapping class="com.vincentko.feedaggregate.object.Feed" />
        <mapping class="com.vincentko.feedaggregate.object.FeedCategory" />
        <mapping class="com.vincentko.feedaggregate.object.FeedChannel" />       
          
    </session-factory>
	    
</hibernate-configuration>